{% extends 'teacher/TeacherDashboard.html' %} {% load widget_tweaks %} {% block pagecontent %} {%load static%}
<br>
<div class="container-fluid mt-4">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-view-tab" data-toggle="pill" href="#pills-view" role="tab" aria-controls="pills-view" aria-selected="true">Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-add-tab" data-toggle="pill" href="#pills-add" role="tab" aria-controls="pills-add" aria-selected="false">Add</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-view" role="tabpanel" aria-labelledby="pills-view-tab">
            {% if stu %}
            <div class="card">
                <div class="card-header">
                    Course Details
                </div>

                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Course Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for st in stu %}
                        <tr>
                            <th scope="row">{{st.id}}</th>
                            <td>{{st.course_name}}</td>
                            <td>
                                <a href="{%  url 'teacher-updatecourse' st.id %}" class="btn btn-success btn-xs" style="border-radius: 0%;"><i class="fas fa-user-edit"></i></a></a>
                                <a href="{%  url 'delcrs' st.id %}" class="btn btn-danger btn-xs" style="border-radius: 0%;"><i class="fas fa-trash-alt"></i></a>

                            </td>


                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% else %}
            <h2 class="text-center alert alert-info">No Data Found</h2>


            {% endif %}


        </div>
        <div class="tab-pane fade" id="pills-add" role="tabpanel" aria-labelledby="pills-add-tab">
            <h6 class="alert alert-info" style="text-align: center;">Add Course</h6>
            <br>

            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label for="Course">Course</label>
                    </div>
                    <div class="form-group col-md-3">{% render_field form.course_name class="form-control" placeholder="Course" id="Course" %}</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-1">
                    </div>
                    <div class="form-group col-md-2"><input type="submit" value="Add Course" class="btn btn-success"></div>
                </div>

            </form>
            <div>
                {% for message in messages %}
                <script type="text/javascript">
                    alert("{{message}}");
                </script>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock pagecontent %}